extends ../layouts/layout.pug

block content
    .account-wrapper
        .container.decor
            include ../sections/_header-account.pug
            .account-content
                include ../sections/_aside-game.pug
                include ../sections/_tabs-page-game.pug
block variables
    -var title = "Account page";