extends ../layouts/layout.pug

block content
	.container
		include ../sections/_header.pug
		include ../sections/_banner.pug
		include ../sections/_retrodrop-unconnect.pug
		include ../sections/_preview-mode.pug
		include ../sections/_levels.pug
		include ../sections/_about-advanced.pug
		include ../sections/_activity.pug
		include ../sections/_telegramm-block.pug
		include ../sections/_footer.pug
	
block variables
	-var title = "Main page";
