extends ../layouts/layout.pug

block content
	.container
		include ../sections/_header-user.pug
		include ../sections/_banner-user.pug
		include ../sections/_retrodrop.pug
		include ../sections/_preview-mode.pug
		include ../sections/_levels.pug
		include ../sections/_about.pug
		include ../sections/_activity.pug
		include ../sections/_telegramm-block.pug
		include ../sections/_footer.pug
	
	
	
block variables
	-var title = "Main page";
