section.activity
    .title-block.title-block-row
        h2.title-2 Recent activity
        .tooltip-box
            img(src="./img/icons/tooltip.svg" alt="hint")
            .tooltip Real-time events with links to blockchain transactions
    .divTable
        .divTableWrapper.custom-scroll
            .divTableBody
                .divTableRow
                    .activity-icon
                        img(src="./img/icons/download_pink.svg", alt="withdrawal")
                    .activity-wrapper
                        a(href="./account.html").activity-id ID 362965
                        .activity-info
                            span activated 
                            | Level 9 
                            span in 
                            a(href="./express-game.html") Express
                        .activity-time
                            a(href="#!").activity-time-icon
                            span ~ 1 hour
                .divTableRow
                    .activity-icon
                        a(href="#!")
                            img(src="./img/icons/wallet-pink.svg", alt="wallet")
                    .activity-wrapper
                        a(href="./account.html").activity-id ID 362963
                        .activity-info
                            | +0.592 BNB 
                            span on 
                            | Level 9 
                            span in 
                            a(href="./express-game.html") Express
                        .activity-time
                            a(href="#!").activity-time-icon
                            span ~ 1 hour
                .divTableRow
                    .activity-icon
                        img(src="./img/icons/account-pink.svg", alt="account")
                    .activity-wrapper
                        a(href="./account.html").activity-id ID 362963
                        .activity-info
                            span + partner bonus 
                            | 0.04 BNB 
                            span on 
                            | Level 9 
                            span in 
                            a(href="./express-game.html") Express
                        .activity-time
                            a(href="#!").activity-time-icon
                            span ~ 1 hour
                .divTableRow
                    .activity-icon
                        img(src="./img/icons/account-pink.svg", alt="account")
                    .activity-wrapper
                        a(href="./account.html").activity-id ID 362963
                        .activity-info
                            span + partner bonus 
                            | 0.0064 BNB 
                            span on 
                            | Level 9 
                            span in 
                            a(href="./express-game.html") Express
                        .activity-time
                            a(href="#!").activity-time-icon
                            span ~ 1 hour
                .divTableRow
                    .activity-icon
                        img(src="./img/icons/account-pink.svg", alt="account")
                    .activity-wrapper
                        a(href="./account.html").activity-id ID 362963
                        .activity-info
                            span + partner bonus 
                            | 0.104 BNB 
                            span on 
                            | Level 9 
                            span in 
                            a(href="./express-game.html") Express
                        .activity-time
                            a(href="#!").activity-time-icon
                            span ~ 1 hour
                .divTableRow
                    .activity-icon
                        img(src="./img/icons/download_pink.svg", alt="withdrawal")
                    .activity-wrapper
                        a(href="./account.html").activity-id ID 362965
                        .activity-info
                            span activated 
                            | Level 12
                            span in 
                            a(href="./express-game.html") Express
                        .activity-time
                            a(href="#!").activity-time-icon
                            span ~ 1 hour
                .divTableRow
                    .activity-icon
                        img(src="./img/icons/wallet-pink.svg", alt="wallet")
                    .activity-wrapper
                        a(href="./account.html").activity-id ID 362963
                        .activity-info
                            | +1.628 BNB 
                            span on 
                            | Level 12 
                            span in 
                            a(href="") Express
                        .activity-time
                            a(href="#!").activity-time-icon
                            span ~ 1 hour
                .divTableRow
                    .activity-icon
                        img(src="./img/icons/account-pink.svg", alt="account")
                    .activity-wrapper
                        a(href="./account.html").activity-id ID 362963
                        .activity-info
                            span + partner bonus 
                            | 0.11 BNB 
                            span on 
                            | Level 9 
                            span in 
                            a(href="./express-game.html") Express
                        .activity-time
                            a(href="#!").activity-time-icon
                            span ~ 1 hour
                .divTableRow
                    .activity-icon
                        img(src="./img/icons/wallet-pink.svg", alt="wallet")
                    .activity-wrapper
                        a(href="./account.html").activity-id ID 362963
                        .activity-info
                            | +1.628 BNB 
                            span on 
                            | Level 12 
                            span in 
                            a(href="./express-game.html") Express
                        .activity-time
                            a(href="#!").activity-time-icon
                            span ~ 1 hour
                .divTableRow
                    .activity-icon
                        img(src="./img/icons/account-pink.svg", alt="account")
                    .activity-wrapper
                        a(href="./account.html").activity-id ID 362963
                        .activity-info
                            span + partner bonus 
                            | 0.11 BNB 
                            span on 
                            | Level 9 
                            span in 
                            a(href="./express-game.html") Express
                        .activity-time
                            a(href="#!").activity-time-icon
                            span ~ 1 hour
                .divTableRow
                    .activity-icon
                        img(src="./img/icons/download_pink.svg", alt="withdrawal")
                    .activity-wrapper
                        a(href="./account.html").activity-id ID 362965
                        .activity-info
                            span activated 
                            | Level 9 
                            span in 
                            a(href="./express-game.html") Express
                        .activity-time
                            a(href="#!").activity-time-icon
                            span ~ 1 hour
                .divTableRow
                    .activity-icon
                        img(src="./img/icons/wallet-pink.svg", alt="wallet")
                    .activity-wrapper
                        a(href="./account.html").activity-id ID 362963
                        .activity-info
                            | +0.592 BNB 
                            span on 
                            | Level 9 
                            span in 
                            a(href="./express-game.html") Express
                        .activity-time
                            a(href="#!").activity-time-icon
                            span ~ 1 hour