.banner
    .banner-wrapper
        .banner-text-block
            h1.title-1 Hunters game
            .subtitle Connect wallet to Register or Login
            .banner-btn-block
                a(href="#!" data-bs-toggle="modal" data-bs-target="#chooseCoinModal").btn.btn-purple.btn-icons-left
                    img(src="./img/icons/wallet.svg", alt="Connect Wallet")
                    span Connect Wallet
                a(href="#!").btn Help me
        .banner-img
            img(src="./img/banner.png", alt="image")
    .banner-description
        img(src="./img/icons/clock.svg", alt="clock")
        p
            strong Level 1 
            | available in: 
            strong 01d 09h 43m 20s