.banner
    .banner-wrapper
        .banner-text-block
            h1.title-1 Express game
            .subtitle Joint Forsage BUSD and Activate Express in one transaction with BNB
            .banner-btn-block
                a(href="#!" data-bs-toggle="modal" data-bs-target="#registrationModal").btn.btn-purple.btn-icons-left
                    span Fast Registration
                    img(src="./img/icons/arrow-double.svg", alt="Connect Wallet")
        .banner-img
            img(src="./img/banner2.png", alt="image")
    .banner-description
        img(src="./img/icons/clock.svg", alt="clock")
        p
            strong Level 1 
            | available in: 
            strong 01d 09h 43m 20s