footer.footer
    .footer-wrapper
        .copyright © 2022 Defi Hunters Dao. All Rights Reserved
        a(href="#!" data-bs-toggle="modal" data-bs-target="#disclaimerModal").btn.btn-square Disclaimer