section.games
    .title-block
        h2.title-2 Smart Games
        .subtitle Special games with unique logic and mechanics fully based on smart contracts
    .express-game
        .express-game-header
            .express-game-title Express Game
            .express-game-coins 0 BNB
        .express-game-wrapper
            .express-game-checklist
                .express-game-checklist-row
                    .express-game-checklist-item
                    .express-game-checklist-item
                    .express-game-checklist-item
                    .express-game-checklist-item
                    .express-game-checklist-item
                    .express-game-checklist-item
                    .express-game-checklist-item
                    .express-game-checklist-item
                .express-game-checklist-row
                    .express-game-checklist-item
                    .express-game-checklist-item
                    .express-game-checklist-item.done
                    .express-game-checklist-item.done
                    .express-game-checklist-item.done
                    .express-game-checklist-item.done
                    .express-game-checklist-item.done
                    .express-game-checklist-item.process
            a(href="./express-game.html").btn.btn-purple.btn-icons-left
                img(src="./img/icons/arrow.svg", alt="link")
                span Program View
    .express-game-hint
        .tooltip-box
            img(src="./img/icons/tooltip-blue.svg", alt="hint")
            .tooltip.tooltip-left Real-time events with links to blockchain transactions
        span Express Game legend
section.games.missed-profit
    .title-block
        h2.title-2 Smart Games
        .subtitle Special games with unique logic and mechanics fully based on smart contracts
    .express-game
        .express-game-header
            .express-game-title Express Game
            .express-game-coins 1.4709 BNB
                span Missed profits 1.844 BNB
        .express-game-wrapper
            .express-game-checklist
                .express-game-checklist-row
                    .express-game-checklist-item
                    .express-game-checklist-item
                    .express-game-checklist-item
                    .express-game-checklist-item
                    .express-game-checklist-item
                    .express-game-checklist-item
                    .express-game-checklist-item
                    .express-game-checklist-item
                .express-game-checklist-row
                    .express-game-checklist-item
                    .express-game-checklist-item.attention
                    .express-game-checklist-item.done
                    .express-game-checklist-item.done
                    .express-game-checklist-item.done
                    .express-game-checklist-item.done
                    .express-game-checklist-item.done
                    .express-game-checklist-item.process
            a(href="./express-game.html").btn.btn-purple.btn-icons-left
                img(src="./img/icons/arrow.svg", alt="link")
                span Program View
    .express-game-hint
        .tooltip-box
            img(src="./img/icons/tooltip-blue.svg", alt="hint")
            .tooltip.tooltip-left Real-time events with links to blockchain transactions
        span Express Game legend