header.header-account  
    .header-account-wrapper
        .header-account-preview
            span Preview ID
            form(action="#!")
                .inputblock-input
                    input(type="text" placeholder="385546")
                input(type="submit" value="Go").btn.btn-pink-submit
        .header-account-login
            a(href="#!").btn.btn-pink Login to your account
            .close.close-pink
                img(src="./img/icons/close-white.svg", alt="close")