header.header
    .header-wrapper
        a(href="/").header-logo-block
            .header-logo(style="display:none")
                img(src="./img/logo.png", alt="logo")
            .header-logo-name
                p Hunters Game
        a(href="#!" data-bs-toggle="modal" data-bs-target="#chooseCoinModal").btn.btn-bright Connect Wallet