header.header.header-user
    .header-wrapper
        a(href="/").header-logo-block
            .header-logo(style="display:none")
                img(src="./img/logo.png", alt="logo")
            .header-logo-name
                p Hunters Game
        .header-user
            a(href="#!").header-user-btn.header-user-btn-single
                img(src="./img/icons/smart-chain.svg", alt="Smart Chain")
                span Smart Chain
            .header-user-btn
                a(href="#!").header-user-btn-item
                    img(src="./img/icons/bnb.svg", alt="BNB")
                    span 0.019 BNB
                a(href="#!" data-bs-toggle="modal" data-bs-target="#walletModal").header-user-btn-item.header-user-btn-wallet
                    img(src="./img/icons/wallet.svg", alt="wallet")
                    span 0ัะก6...ะต8