.instruction-block 
    .title-wrapper
        h1.title-1 Information
        .activity-id ID 1
    .instruction-content
        .instruction-block-wrapper
            .instruction-item
                h2.title-2 Express Smart Game
                .instruction-img
                    img(src="./img/image.png", alt="image")
                .instruction-text
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac pretium orci consectetur eget dui posuere. Ipsum elementum adipiscing faucibus lorem senectus id lorem mauris. Odio fusce magna nisi mollis. Gravida enim massa amet, morbi dolor posuere id tincidunt et. Consequat in sit pellentesque mattis facilisis iaculis. 
                    p Mauris pretium aliquet tristique posuere ut elementum et, viverra. Et nisl tincidunt libero, et. Nec nisi magna amet, purus est lacus senectus morbi. Commodo malesuada mauris purus quis purus, consectetur. Pulvinar fringilla tempor neque nibh blandit urna. Porttitor amet semper.
            .instruction-item
                h2.title-2 Rewards
                .instruction-img
                    img(src="./img/image.png", alt="image")
                .instruction-text
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac pretium orci consectetur eget dui posuere. Ipsum elementum adipiscing faucibus lorem senectus id lorem mauris. Odio fusce magna nisi mollis. Gravida enim massa amet, morbi dolor posuere id tincidunt et. Consequat in sit pellentesque mattis facilisis iaculis. 
                    p Mauris pretium aliquet tristique posuere ut elementum et, viverra. Et nisl tincidunt libero, et. Nec nisi magna amet, purus est lacus senectus morbi. Commodo malesuada mauris purus quis purus, consectetur. Pulvinar fringilla tempor neque nibh blandit urna. Porttitor amet semper.
        .sidebar.sidebar-right.dropdownParent
            .sidebar-mobile.dropdownItem
                span Content
                img(src="./img/icons/menu-icon.svg", alt="menu-arrow")
            ul.dropdownBlock
                li.active
                    a(href="#!") Express Smart Game
                li
                    a(href="#!") Rewards
                li
                    a(href="#!") Levels. Lines. Cycle.
                li
                    a(href="#!") Intervals
                li
                    a(href="#!") Registration

include ../sections/_footer.pug