section.levels
    .title-block
        h2.title-2 Hunters game levels start schedule
    .divTable
        .divTableBody
            .divTableRow.divTableHeader
                .divTableCell Start date
                .divTableCell Level
                .divTableCell  Value
                .divTableCell Time left
            .divTableRow
                .divTableCell 16.03.2022 23:00
                .divTableCell 16
                .divTableCell 8 BNB
                .divTableCell Available
            .divTableRow
                .divTableCell 17.03.2022 23:00
                .divTableCell 15
                .divTableCell 6.5 BNB
                .divTableCell Available
            .divTableRow
                .divTableCell 18.03.2022 23:00
                .divTableCell 14
                .divTableCell 4.4 BNB
                .divTableCell Available
            .divTableRow
                .divTableCell 19.03.2022 23:00
                .divTableCell 13
                .divTableCell 3.2 BNB
                .divTableCell Available
            .divTableRow
                .divTableCell 20.03.2022 23:00
                .divTableCell 12
                .divTableCell 2.2 BNB
                .divTableCell Available
            .divTableRow
                .divTableCell 21.03.2022 23:00
                .divTableCell 11
                .divTableCell 1.6 BNB
                .divTableCell Available
            .divTableRow
                .divTableCell 23.03.2022 23:00
                .divTableCell 10
                .divTableCell 1.1 BNB
                .divTableCell Available
            .divTableRow
                .divTableCell 24.03.2022 23:00
                .divTableCell 9
                .divTableCell 0.8 BNB
                .divTableCell Available
            .divTableRow
                .divTableCell 25.03.2022 23:00
                .divTableCell 8
                .divTableCell 0.55 BNB
                .divTableCell Available
            .divTableRow
                .divTableCell 27.03.2022 23:00
                .divTableCell 7
                .divTableCell 0.4 BNB
                .divTableCell Available
            .divTableRow
                .divTableCell 28.03.2022 23:00
                .divTableCell 6
                .divTableCell 0.28 BNB
                .divTableCell Available
            .divTableRow
                .divTableCell 30.03.2022 23:00
                .divTableCell 5
                .divTableCell 0.2 BNB
                .divTableCell Available
            .divTableRow
                .divTableCell 01.04.2022 23:00
                .divTableCell 4
                .divTableCell 0.14 BNB
                .divTableCell Available
            .divTableRow
                .divTableCell 02.04.2022 23:00
                .divTableCell 3
                .divTableCell 0.1 BNB
                .divTableCell Available
            .divTableRow
                .divTableCell 05.04.2022 23:00
                .divTableCell 2
                .divTableCell 0.07 BNB
                .divTableCell Available
            .divTableRow.endtime
                .divTableCell 08.04.2022 23:00
                .divTableCell 1
                .divTableCell 0.05 BNB
                .divTableCell 1 days