.modal.fade#registrationModal(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
            .modal-header.modal-header-col
                h2 Fast Registration
                    br
                    | in Express Game
                .subtitle Activate Express Game in one transaction with BNB
            .modal-body
                form(action="#!") 
                    p Your upline address and ID
                    span 0x14DcBeA2BD7abF90FEe83F09b51453e8BeEE207F
                    .modal-input-group
                        input(type="text" placeholder="1")
                        a(href="#!").btn.btn-dark Approve upline
                    .select-title Choose game level
                    select#mySelectLevel
                        option(value="level2") Level 2 (0.07 BNB)
                        option(value="level3") Level 3 (0.1 BNB)
                        option(value="level4") Level 4 (0.14 BNB)
                        option(value="level5") Level 5 (0.2 BNB)
                        option(value="level6") Level 6 (0.28 BNB)
                        option(value="level7") Level 7 (0.4 BNB)
                        option(value="level8") Level 8 (0.55 BNB)
                        option(value="level9") Level 9 (0.8 BNB)
                        option(value="level10") Level 10 (1.1 BNB)
                        option(value="level11") Level 11 (1.6 BNB)
                        option(value="level12") Level 12 (2.2 BNB)
                        option(value="level13") Level 13 (3.2 BNB)
                        option(value="level4") Level 14 (4.4 BNB)
                        option(value="level5") Level 15 (6.5 BNB)
                        option(value="level6") Level 16 (8 BNB)
                .modal-btn-block
                    a(href="#!").btn.btn-border-green Network check
                    a(href="#!").btn.btn-border-red 8 BNB to open this level
                a(href="#!").btn.btn-long Check again (8.03001 BNB)
    .modal-close(data-bs-dismiss="modal")
        img(src="./img/icons/close-white.svg", alt="close")