.modal.fade#walletModal(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
            .modal-header
                h2 Wallet
                a(href="#!") Disconnect
            .modal-body
                .modal-body-bg
                    .wallet-number-wrapper
                        .wallet-number
                            img(src="./img/icons/wallet.svg", alt="wallet")
                            span 0хС60В...9се8
                        .btn.btn-small Copy
                    .smart-chain
                        img(src="./img/icons/smart-chain.svg", alt="Smart Chain")
                        span Smart Chain
                    .ballance
                        span Current  wallet balance
                        .ballance-block
                            img(src="./img/icons/bnb.svg", alt="BNB")
                            span 0.019 BNB 
    .modal-close(data-bs-dismiss="modal")
        img(src="./img/icons/close-white.svg", alt="close")