.modal.fade#disclaimerModal(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
            .modal-body
                h2 Disclaimer
                p Always do your own research! You take all the responsibility for your actions. By interacting with the smart contract, you agree to the game's rules and understand that all blockchain transactions are irrevocable.
                p The 
                    a(href="#!") Hunters Game
                    | sticks to decentralization, transparency of each transaction, no fees, and no fund accumulation.
                a(href="#!").btn.btn-modal I agree
    .modal-close(data-bs-dismiss="modal")
        img(src="./img/icons/close-white.svg", alt="close")