.modal.fade#marketingLegendModal(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
            .modal-body.modal-body-legend
                h2 Marketing legend
                .modal-card-wrapper
                    .express-card
                        .express-card-title-block
                            .express-card-lvl Lvl 16
                            .express-card-coins 
                                .coin-icons
                                    img(src="./img/coin.png", alt="coin")
                                span 8
                        .exprees-card-text Activate or login to see the line fill
                        .express-card-bonus-wrapper
                            .express-card-bonus
                                p 15.85575 BNB
                                span Partner bonus
                            .express-card-bonus
                                p 0.575 BNB
                                span Level profits
                        a(href="#!").btn.btn-purple Login to activate
                .modal-express-card-scroll.custom-scroll
                    .modal-express-card-info
                        .modal-express-card-info-item
                            p lvl 16 
                                span - level number
                        .modal-express-card-info-item
                            p 8 
                                span - level activation cost in BNB
                        .modal-express-card-info-item
                            img(src="./img/modal-item1.png", alt="ic")
                            span - progress bar of the previous line fill of the line you bought the current level on
                        .modal-express-card-info-item
                            img(src="./img/modal-item2.png", alt="ic")
                            span - progress bar of the current line fill where you receive Basic Level Reward
                        .modal-express-card-info-item
                            img(src="./img/modal-item3.png", alt="ic")
                            span - indication of received Basic Level Reward on the current line
                        .modal-express-card-info-item
                            img(src="./img/modal-item4.png", alt="ic")
                            span - level activation count. How many times the level was activated
                        .modal-express-card-info-item
                            img(src="./img/modal-item5.png", alt="ic")
                            span - level activations count waiting for the next line. How many activations are still waiting for the
                        .modal-express-card-info-item
                            p Current line fill 
                                span - shows the percentage of how the current level line is being filled for the reference. You can receive the Level Basic Reward at any point of the line fill thanks to randomization
                        .modal-express-card-info-item
                            p Partner bonus 
                                span - amount of BNB received to your wallet as a referral reward from your partners on the current level
                        .modal-express-card-info-item
                            p Level Profits 
                                span - total amount in BNB received to your wallet as a reward from the current level structure
                a(href="!#" data-bs-dismiss="modal").btn.btn-modal Close tip
    .modal-close(data-bs-dismiss="modal")
        img(src="./img/icons/close-white.svg", alt="close")