.modal.fade#modalPresentations.modalPresentations(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
            .modal-header
                h2 Presentations
            .modal-body
                .about-block-presentation-item
                    .about-block-presentation-flag
                        img(src="./img/flag1.png", alt="English")
                    .about-block-presentation-title Express English pdf
                    a(href="#!").icon-blue
                        img(src="./img/icons/copy-white.svg", alt="copy")
                    a(href="#!").icon-blue
                        img(src="./img/icons/download-white.svg", alt="download")
                .about-block-presentation-item
                    .about-block-presentation-flag
                        img(src="./img/flag2.png", alt="Hindi")
                    .about-block-presentation-title Express Hindi pdf
                    a(href="#!").icon-blue
                        img(src="./img/icons/copy-white.svg", alt="copy")
                    a(href="#!").icon-blue
                        img(src="./img/icons/download-white.svg", alt="download")
                .about-block-presentation-item
                    .about-block-presentation-flag
                        img(src="./img/flag3.png", alt="Russian")
                    .about-block-presentation-title Express Russian pdf
                    a(href="#!").icon-blue
                        img(src="./img/icons/copy-white.svg", alt="copy")
                    a(href="#!").icon-blue
                        img(src="./img/icons/download-white.svg", alt="download")
                .about-block-presentation-item
                    .about-block-presentation-flag
                        img(src="./img/flag4.png", alt="Spanish")
                    .about-block-presentation-title Express Spanish pdf
                    a(href="#!").icon-blue
                        img(src="./img/icons/copy-white.svg", alt="copy")
                    a(href="#!").icon-blue
                        img(src="./img/icons/download-white.svg", alt="download")
                .about-block-presentation-item
                    .about-block-presentation-flag
                        img(src="./img/flag5.png", alt="French")
                    .about-block-presentation-title Express French pdf
                    a(href="#!").icon-blue
                        img(src="./img/icons/copy-white.svg", alt="copy")
                    a(href="#!").icon-blue
                        img(src="./img/icons/download-white.svg", alt="download")
                .about-block-presentation-item
                    .about-block-presentation-flag
                        img(src="./img/flag6.png", alt="Italian")
                    .about-block-presentation-title Express Italian pdf
                    a(href="#!").icon-blue
                        img(src="./img/icons/copy-white.svg", alt="copy")
                    a(href="#!").icon-blue
                        img(src="./img/icons/download-white.svg", alt="download")
                .about-block-presentation-item
                    .about-block-presentation-flag
                        img(src="./img/flag7.png", alt="Chinese")
                    .about-block-presentation-title Express Chinese pdf
                    a(href="#!").icon-blue
                        img(src="./img/icons/copy-white.svg", alt="copy")
                    a(href="#!").icon-blue
                        img(src="./img/icons/download-white.svg", alt="download")
                .about-block-presentation-item
                    .about-block-presentation-flag
                        img(src="./img/flag8.png", alt="Deutsch")
                    .about-block-presentation-title Express Deutsch pdf
                    a(href="#!").icon-blue
                        img(src="./img/icons/copy-white.svg", alt="copy")
                    a(href="#!").icon-blue
                        img(src="./img/icons/download-white.svg", alt="download")
                .about-block-presentation-item
                    .about-block-presentation-flag
                        img(src="./img/flag9.png", alt="Tamil")
                    .about-block-presentation-title Express Tamil pdf
                    a(href="#!").icon-blue
                        img(src="./img/icons/copy-white.svg", alt="copy")
                    a(href="#!").icon-blue
                        img(src="./img/icons/download-white.svg", alt="download")
                .about-block-presentation-item
                    .about-block-presentation-flag
                        img(src="./img/flag10.png", alt="Indonesian")
                    .about-block-presentation-title Express Indonesian pdf
                    a(href="#!").icon-blue
                        img(src="./img/icons/copy-white.svg", alt="copy")
                    a(href="#!").icon-blue
                        img(src="./img/icons/download-white.svg", alt="download")
            a(href="#!" data-bs-dismiss="modal").btn Close
    .modal-close(data-bs-dismiss="modal")
        img(src="./img/icons/close-white.svg", alt="close")