section.preview-mode
    .title-block
        h2.title-2 Preview Mode
        .subtitle Look up any Hunters game member account in preview mode. Enter ID or BNB address to preview.
    .inputblock
        .inputblock-title Enter ID or BNB wallet
        form(action="#!").inputblock-wrapper#preview-mode-form
            .inputblock-input
                input(type="text" placeholder="example: 12345")
                .error-message#errorInpuId(data-dismiss="alert") Please enter ID or BNB wallet
            input(type="button" value="Preview").btn