.retrodrop
    .retrodrop-title 2500 BNB Retro Drop
    .retrodrop-subtitle 1 000 000 USD +
    .retrodrop-text Free 1st Level in Express.game for Forsage BUSD members with ID up to 289780 (members registered before 16.03.2022 18:00 UTC). Valid before 30.04.2022 18:00.
    .retrodrop-balance-wrapper
        .retrodrop-balance-info
            p Retro Drop contract balance: 
                span 595.750/2500 BNB
            p Retro Drop claim count: 
                span 38087
        .retrodrop-balance
            .retrodrop-filed(style="width: 20%")
            span 76.170%
    .retrodrop-timer Retro Drop ends in: 04:01:21:49
    .btn-group-col
        a(href="#!").btn.btn-dark-pink Login to your account to claim free level
        a(href="#!").link.link-white.link-window Retro Drop contract link