.retrodrop
    .retrodrop-title 2500 BNB Retro Drop
    .retrodrop-subtitle 1 000 000 USD +
    .retrodrop-text Free 1st Level in Express.game for Forsage BUSD members with ID up to 289780 (members registered before 16.03.2022 18:00 UTC). Valid before 30.04.2022 18:00.
    .retrodrop-unconnetc Connect wallet to get Retro Drop contract balance
    .retrodrop-unconnetc-blur
    .retrodrop-timer Retro Drop ends in: 04:01:21:49
    .btn-group-col
        a(href="#!").btn.btn-dark-pink.lock Login to your account to claim free level
        a(href="#!").link.link-white.link-window Retro Drop contract link