.tab-content
    .tab-pane.fade#dashboard(role="tabpanel", aria-labelledby="dashboard-tab")
        .tab-content-wrapper
            include ../sections/_dashboard.pug
    .tab-pane.fade#stats(role="tabpanel", aria-labelledby="stats-tab")
        .tab-content-wrapper
            include ../sections/_stats.pug
    .tab-pane.fade#partnerbonus(role="tabpanel", aria-labelledby="partnerbonus-tab")
        .tab-content-wrapper
            include ../sections/_partnerbonus.pug
    .tab-pane.fade#information(role="tabpanel", aria-labelledby="information-tab")
        .tab-content-wrapper
            include ../sections/_information.pug
    .tab-pane.fade#telegrambot(role="tabpanel", aria-labelledby="telegrambot-tab")
        .tab-content-wrapper
            include ../sections/_telegrambot.pug
    .tab-pane.fade#promo(role="tabpanel", aria-labelledby="promo-tab")
        .tab-content-wrapper
            include ../sections/_promo.pug
    .tab-pane#express.active.show(role="tabpanel", aria-labelledby="express-tab")
        .tab-content-wrapper
            include ../sections/_express-game.pug