.title-wrapper
    h1.title-1 Telegram bots
    .activity-id ID 1
.telegrambot
    a(href="#!").telegrambot-item
        .telegrambot-icon
            img(src="./img/icons/telegramm-bot-white.svg", alt="icon")
        .telegrambot-content
            .telegrambot-title Express Game Notifier Bot
            .telegrambot-subtitle New partners and transactions notifications
    a(href="#!").telegrambot-item
        .telegrambot-icon
            img(src="./img/icons/telegramm-bot-white.svg", alt="icon")
        .telegrambot-content
            .telegrambot-title Support Bot
            .telegrambot-subtitle Help in difficult situations
include ../sections/_footer.pug