.about {
    position: relative;
    margin-bottom: 60px;
    .subtitle {
        max-width: 710px;
    }
}
.about-wrapper {
    display: flex;
    justify-content: space-between;
}
.about-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title-2 {
        margin-bottom: 12px;
    }
}
.short-table {
    background: #02053F;
    border-radius: 10px;
    padding: 28px 37px;
    display: flex;
    justify-content: space-between;
    &.short-table-col {
        flex-direction: column;
        padding: 16px 15px;
        min-width: 320px;
        .short-table-item + .short-table-item {
            border-left: 0;
            padding-left: 0;
            padding-right: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.15);
            padding-top: 16px;
            padding-bottom: 16px;
        }
        .about-wallet-number {
            margin-right: 21px;
        }
        .copy {
            margin-right: 11px;
        }
        .short-table-wallet {
            margin-top: 16px;
            margin-bottom: 16px;
            border-top: 1px solid rgba(255, 255, 255, 0.15);
            padding-top: 16px;
        }
        .short-table-title {
            margin-bottom: 0;
        }
    }
}
.about-block-widget {
    display: flex;
    justify-content: space-between;
}
.about-block-video {
    max-width: 475px;
    width: 100%;
    height: 312px;
    display: flex;
    margin-right: 15px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    background: #02053F;
    video {
        width: 100%;
    }
}
.video-plug {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #02053F;
    z-index: 2;
    cursor: pointer;
    &::before {
        position: absolute;
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='71' height='50' viewBox='0 0 71 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.62778 8.06686C2.43475 5.06814 4.799 2.70441 7.7972 1.89692C13.275 0.397827 35.1862 0.397827 35.1862 0.397827C35.1862 0.397827 57.0969 0.397827 62.5747 1.83978C65.5152 2.64673 67.9372 5.06868 68.7441 8.06686C70.1855 13.5441 70.1855 24.9035 70.1855 24.9035C70.1855 24.9035 70.1855 36.32 68.7441 41.7401C67.9366 44.7383 65.5729 47.1026 62.5742 47.9101C57.0392 49.4092 35.1857 49.4092 35.1857 49.4092C35.1857 49.4092 13.275 49.4092 7.7972 47.9672C4.79847 47.1602 2.43475 44.796 1.62725 41.7978C0.185837 36.32 0.185837 24.9612 0.185837 24.9612C0.185837 24.9612 0.128159 13.5441 1.62778 8.06686Z' fill='black' fill-opacity='0.5'/%3e%3cpath d='M27.5298 35.398L45.7502 24.9038L27.5298 14.4095V35.398Z' fill='white'/%3e%3c/svg%3e ");
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover {
        &::before {
            content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='71' height='50' viewBox='0 0 71 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.35142 7.8959C3.15838 4.89718 5.52264 2.53345 8.52083 1.72596C13.9986 0.226868 35.9099 0.226868 35.9099 0.226868C35.9099 0.226868 57.8205 0.226868 63.2984 1.66882C66.2389 2.47577 68.6608 4.89772 69.4678 7.8959C70.9092 13.3732 70.9092 24.7325 70.9092 24.7325C70.9092 24.7325 70.9092 36.149 69.4678 41.5692C68.6603 44.5673 66.2965 46.9316 63.2978 47.7391C57.7629 49.2382 35.9093 49.2382 35.9093 49.2382C35.9093 49.2382 13.9986 49.2382 8.52083 47.7962C5.5221 46.9893 3.15838 44.625 2.35088 41.6268C0.90947 36.149 0.90947 24.7902 0.90947 24.7902C0.90947 24.7902 0.851791 13.3732 2.35142 7.8959Z' fill='%23FF0000'/%3e%3cpath d='M27.2534 35.2268L45.4739 24.7325L27.2534 14.2383V35.2268Z' fill='white'/%3e%3c/svg%3e ");
        }
    }
}
.about-waller-title {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-right: auto;
}
.short-table-info {
    display: flex;
    align-items: center;
}
.short-table-wallet {
    margin-top: 17px;
}
.short-table-numbers {
    flex-direction: column;
    align-items: flex-start;
}
.about-wallet-number {
    margin-right: 36px;
}
.copy {
    margin-right: 20px;
}
.short-table-item + .short-table-item {
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    padding-left: 60px;
    padding-right: 60px;
}
.about-count {
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;
}
.about-count-growth {
    color: #F77BF9;
    font-weight: 700;
}
.short-table-block {
    display: flex;
    flex-direction: column;
}

.short-table-title {
    font-size: 14px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    white-space: nowrap;
}
.short-table-small {
    flex-direction: column;
    .short-table-block {
        padding-right: 60px;
    }
    .short-table-title {
        margin-bottom: 0;
    }
    .short-table-wallet {
        flex-direction: row;
        margin-top: 0;
    }
}
.short-table-wrapper {
    display: flex;
}
.short-table-header {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
    .short-table-title {
        margin-right: 90px;
    }
}
.about-block-presentation {
    background: #02053F;
    border-radius: 10px;
    padding: 20px 30px 22px 26px;
    margin-bottom: 20px;
    min-width: 248px;
    .link-more {
        color: #fff;
    }
}
.about-block-brandbook  {
    background: #02053F;
    border-radius: 10px;
    padding: 17px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}
.about-block-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 24px;
}
.about-block-presentation-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}
.about-block-presentation-title {
    margin-right: auto;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.about-block-presentation-flag {
    margin-right: 11px;
}

@media screen and (max-width: 1199px) {
    .short-table-info {
        flex-direction: column;
    }
    .about-wallet-link {
        margin-right: auto;
    }
    .short-table-small {
        .short-table-item + .short-table-item {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .short-table.short-table-col {
        .short-table-info {
            flex-direction: row;
        }
    }
    .about-wrapper {
        flex-direction: column;
        .about-block + .about-block {
            margin-top: 30px;
        }
    }
    .about-block-widget {
        justify-content: flex-start;
    }
    .short-table.short-table-col {
        width: 475px;
        .short-table-numbers {
            flex-direction: column;
        }
    }
    
}
@media screen and (max-width: 991px) {
    .short-table {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
        z-index: 2;
        position: relative;
    }
    .short-table-info {
        flex-direction: row;
    }
    .short-table-numbers {
        flex-direction: column;
    }
    .short-table-item + .short-table-item {
        border-left: 1px solid transparent;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        padding-left: 0;
    }
    .short-table-item {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .short-table-header {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .short-table-small {
        .short-table-item + .short-table-item {
            border: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .about {
        &::before {
            position: absolute;
            content: url('../img/icons/decor2-mobile.svg');
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .short-table-wrapper {
        flex-direction: column;
    }
    .short-table-small {
        .short-table-item + .short-table-item {
            padding-left: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.15);
        }
        .short-table-item {
            border-top: 1px solid rgba(255, 255, 255, 0.15);
        }
    }
    .short-table-header {
        flex-direction: column;
        align-items: flex-start;
        .short-table-title {
            margin-bottom: 18px;
        }
    }
    .about-block-widget {
        flex-direction: column;
    }
    .about-block-video {
        margin-bottom: 30px;
        max-width: 100%;
        height: auto;
    }
    .short-table.short-table-col {
        width: 100%;
        min-width: unset;
    }
}

@media screen and (max-width: 575px) {
    .short-table {
        padding-left: 15px;
        padding-right: 15px;
    }
    .about {
        margin-bottom: 40px;
    }
}
