.aside {
    position: relative;
    .nav {
        flex-direction: column;
    }
    .nav-tabs {
        border-bottom: none;
    }
}
.aside-mobile {
    display: none;
}
.aside-item-block {
    display: flex;
    align-items: center;
}
.aside-item.nav-link  {
    display: flex;
    align-items: center;
    height: 35px;
    width: 156px;
    padding: 6px 14px 7px 14px;
    margin-bottom: 9px;
    cursor: pointer;
    span {
        color: rgba(255, 255, 255, 0.6);
        padding-left: 11px;
        font-size: 14px;
        white-space: nowrap;
        display: block;
    }
    &.active {
        background-color: rgba(0, 150, 234, 0.15);
        border-radius: 5px;
        border-color: transparent;
        span {
            color: #fff;
        }
        svg path {
            fill: {
                opacity: 1;
            }
        }
    }
}
.aside-mobile-block {
    position: relative;
    width: 100%;
    &::after {
        position: absolute;
        content: url('../img/icons/menu-icon.svg');
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(0);
        transform-origin: center;
    }
    .aside-item-block {
        span {
            padding-left: 11px;
        }
    }
    svg path {
        fill: {
            opacity: 1;
        }
    }
}
.aside-item-icon {
    width: 22px;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    svg path {
        fill: {
            opacity: 1;
        }
    }
    span {
        color: rgba(255, 255, 255, 1);
    }
    border-color: transparent;
}

@media screen and (max-width: 991px) { 
    .aiode {
        .nav-tabs {
            max-height: 0;
            opacity: 1;
            height: initial;
        }
    }
    .aside.nav {
        flex-direction: row;
    }
    .aside-item.nav-link {
        padding-bottom: 17px;
    }
    .aside-mobile {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-left: 13px;
        padding-right: 17px;
        padding-bottom: 8px;
        padding-top: 8px;
        background: rgba(8, 30, 90, 1);
        border-radius: 5px;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        &::before {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 5px;
            background: rgba(0, 150, 234, 0.15);
        }
    }
    .aside {
        background: rgba(0, 150, 234, 0.15);
        border: 1px solid transparent;
        border-radius: 5px;
        margin-bottom: 38px;
        transition: .2s ease-in;
    }
    .aside-item.nav-link:first-child {
        padding-top: 22px;
    }
    .aside-item.nav-link.active {
        background-color: transparent;
        width: 100%;
    }
    .nav-tabs {
        display: block;
        position: absolute;
        box-shadow: 0px 10px 30px rgba(69, 88, 190, 0.1);
        transition: .2s ease-in;
        overflow: hidden;
        top: 41px;
        left: -1px;
        right: -1px;
        background: rgba(8, 30, 90, 1);
        z-index: 20;
        border-radius: 0 0 5px 5px;
        &::before {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 150, 234, 0.15);
            pointer-events: none;
        }
    }
    .dropdownBlock {
        pointer-events: none;
    }
    .dropdown-show {
        &.aside {
            border: 1px solid rgba(255, 255, 255, 0.4);
        }
        .aside-mobile {
            border-radius: 5px 5px 0 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            &::before {
                border-radius: 5px 5px 0 0;
            }
        }
        .aside-mobile-block::after {
            transform: rotate(180deg);
            top: -8px;
        }
        .nav-tabs {
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-top: 1px solid rgba(255, 255, 255, 0);
        }
        .dropdownBlock {
            pointer-events: all;
        }
    }
}

@media screen and (max-width: 575px) { 
    .aside {
        margin-bottom: 40px;
    }
}