.levels {
    margin-bottom: 61px;

    .divTableRow .divTableCell:nth-child(1) {
        width: 38%;
    }

    .divTableRow .divTableCell:nth-child(2) {
        width: 16%;
    }

    .divTableRow .divTableCell:nth-child(3) {
        width: 23%;
    }

    .divTableRow .divTableCell:nth-child(4) {
        width: 23%;
    }
}

.endtime {
    background: rgba(0, 150, 234, 0.4);
    border-radius: 0 0 10px 10px;

    .divTableCell:nth-child(1) {
        padding-left: 27px;
        position: relative;

        &::before {
            position: absolute;
            content: url('../img/icons/clock-pink.svg');
            left: 0;
            top: 2px;
        }
    }

    .divTableCell:nth-child(4) {
        color: #F77BF9;
    }
}

@media screen and (max-width: 575px) {
    .levels {
        margin-bottom: 40px;
    }

    .endtime .divTableCell:nth-child(1) {
        padding-left: 0;
    }

    .endtime .divTableCell:nth-child(1)::before {
        display: none;
    }

    .levels .divTableRow .divTableCell:nth-child(1) {
        width: 40%;
    }
    .levels .divTableRow .divTableCell:nth-child(4) {
        width: 20%;
    }
}