.parent-content {
    .title-wrapper-block {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .title-1 {
        white-space: nowrap;
    }
    .input-field-group {
        label {
            max-width: 424px;
        }
    }
    .divTable {
        max-height: 548px;
    }
    .divTableBody {
        width: 919px;
        margin-left: auto;
        margin-right: auto;
    }
    .divTableRow .divTableCell {
        white-space: nowrap;
    }
    .divTableRow .divTableCell:nth-child(1) {
        width: 114px;
        margin-right: 46px;
    }
    .divTableRow .divTableCell:nth-child(2) {
        width: 165px;
        margin-right: 36px;
    }
    .divTableRow .divTableCell:nth-child(3) {
        width: 95px;
        margin-right: 28px;
    }
    .divTableRow .divTableCell:nth-child(4) {
        width: 97px;
        margin-right: 39px;
        text-align: center;
    }
    .divTableRow .divTableCell:nth-child(5) {
        width: 85px;
        margin-right: 39px;
        text-align: center;
    }
    .divTableRow .divTableCell:nth-child(6) {
        width: 142px;
        text-align: right;
    }
    .wallet-block-wrapper {
        max-width: 161px;
    }
    .divTableRow::before {
        left: 26px;
        right: 26px;
    }
    .divTableInvite {
        overflow: hidden;
        .divTableRowWrapper {
            height: 490px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .divTableHeader {
            width: 919px;
        }
        .divTableBody {
            width: 100%;
        }
    }
}

.parthner {
    position: relative;
    .btn {
        position: absolute;
        top: 50%;
        left: 43%;
        width: auto;
        transform: translate(-50%, -50%);
        max-width: 352px;
        line-height: 1;
        display: flex;
        align-items: center;
        min-width: 260px;
    }
}

@media screen and (max-width: 1199px) {
    .parent-content {
        .input-field-group {
            label {
                max-width: 100%;
            }
        }
    }

}

@media screen and (max-width: 575px) {
    .stats .divTableRow {
        padding-left: 15px;
        padding-right: 15px;
    }
    .parent-content {
        .stats {
            margin-right: -15px;
        }
        .title-wrapper {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 8px;
            margin-bottom: 18px;
            .activity-id {
                margin-left: 0;
            }
        }
        .divTable {
            border-radius: 10px 0px 0px 10px;
        }
        .divTableRow .divTableCell:nth-child(1) {
            width: 98px;
            margin-right: 21px;
        }
        .divTableRow .divTableCell:nth-child(2) {
            width: 141px;
            margin-right: 21px;
        }
        .divTableRow .divTableCell:nth-child(3) {
            width: 95px;
            margin-right: 21px;
        }
        .divTableRow .divTableCell:nth-child(4) {
            width: 97px;
            margin-right: 21px;
            text-align: center;
        }
        .divTableRow .divTableCell:nth-child(5) {
            width: 85px;
            margin-right: 21px;
            text-align: center;
        }
        .divTableRow .divTableCell:nth-child(6) {
            width: 142px;
            text-align: right;
        }
        .divTableCell {
            font-size: 12px;
        }
    }
    
}