.promo-block {
    background: #02053F;
    border-radius: 10px;
    padding: 33px 28px 69px 27px;
    margin-bottom: 58px;
    .title-2 {
        font-size: 22px;
    }
    .subtitle {
        color: #fff;
        margin-bottom: 34px;
    }
}
.promo-block-wrapper {
    display: flex;
    flex-wrap: wrap;
    .about-block-presentation-item {
        max-width: 424px;
        width: 100%;
        background: #25285E;
        border-radius: 15px;
        padding: 10px 15px;
        &:nth-child(odd) {
            margin-right: 17px;
        }
    }
}
.title-block {
    .title-wrapper {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 575px) {
    .promo-block-wrapper .about-block-presentation-item {
        padding-left: 10px;
        padding-right: 10px;
        &:nth-child(odd) {
            margin-right: 0;
        }
    }
    .promo-block {
        margin-bottom: 44px;
        padding-left: 17px;
        padding-right: 17px;
        padding-bottom: 25px;
        .title-2 {
            font-weight: 16;
        }
        .subtitle {
            font-size: 14px;
        }
    }
}