.stats-content-header {
    display: flex;
    justify-content: space-between;
}

.filters {
    position: relative;
    background: rgba(0, 150, 234, 0.15);
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: auto;
    height: 30px;
    display: flex;
    align-items: center;
    color: #1BCBFF;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    &::before {
        position: absolute;
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.7814 0.520752H1.18848C0.80011 0.520752 0.485352 0.83551 0.485352 1.22388C0.485352 3.18192 1.32471 5.05124 2.78822 6.35216L5.86755 9.08913C6.40148 9.56374 6.70773 10.2457 6.70773 10.9602V17.8168C6.70773 18.3771 7.33395 18.713 7.80073 18.4017L11.949 15.6363C12.1446 15.5058 12.2621 15.2864 12.2621 15.0513V10.9602C12.2621 10.2457 12.5684 9.56374 13.1023 9.08913L16.1815 6.35216C17.645 5.05124 18.4844 3.18192 18.4844 1.22388C18.4844 0.83551 18.1696 0.520752 17.7814 0.520752ZM15.2473 5.30104L12.1681 8.03815C11.3342 8.77945 10.8559 9.84444 10.8559 10.9601V14.675L8.11384 16.503V10.9602C8.11384 9.84444 7.63552 8.77945 6.80166 8.03815L3.72247 5.30118C2.73562 4.42378 2.1057 3.2216 1.93706 1.92686H17.0327C16.864 3.2216 16.2342 4.42378 15.2473 5.30104Z' fill='%231BCBFF'/%3e%3c/svg%3e ");
        left: 8px;
        top: 5px;
    }
    &:hover {
        background: rgba(0, 150, 234, 0.4);
    }
    &.active {
        background: #0096EA;
        border-radius: 10px;
        color: #fff;
        &:before {
            content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.7814 0.998413H1.18848C0.80011 0.998413 0.485352 1.31317 0.485352 1.70154C0.485352 3.65958 1.32471 5.5289 2.78822 6.82982L5.86755 9.56679C6.40148 10.0414 6.70773 10.7234 6.70773 11.4379V18.2945C6.70773 18.8548 7.33395 19.1907 7.80073 18.8793L11.949 16.114C12.1446 15.9835 12.2621 15.764 12.2621 15.5289V11.4379C12.2621 10.7234 12.5684 10.0414 13.1023 9.56679L16.1815 6.82982C17.645 5.5289 18.4844 3.65958 18.4844 1.70154C18.4844 1.31317 18.1696 0.998413 17.7814 0.998413ZM15.2473 5.7787L12.1681 8.51581C11.3342 9.25711 10.8559 10.3221 10.8559 11.4378V15.1526L8.11384 16.9806V11.4379C8.11384 10.3221 7.63552 9.25711 6.80166 8.51581L3.72247 5.77884C2.73562 4.90144 2.1057 3.69926 1.93706 2.40453H17.0327C16.864 3.69926 16.2342 4.90144 15.2473 5.7787Z' fill='white'/%3e%3c/svg%3e ");
        }
    }
}

.filter-block {  
    background: #02053F;
    border-radius: 10px;
    padding: 21px 27px 35px 27px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.filter-block-dropdown {
    max-height: 0;
    transition: .2s ease-in;
    // overflow: hidden;
}

.stats {
    position: relative;
    margin-bottom: 88px;
    .divTableRowWrapper {
        height: 484px;
    }
    .divTableBody {
        width: 919px;
    }
    .divTableRow {
        padding-left: 26px;
        padding-right: 26px;
        align-items: center;
        &:last-child {
            border-bottom: 1px solid transparent;
        }
    }
    .divTableCell.blue {
        .activity-icon {
            background: rgba(0, 150, 234, 0.4);
        }
        .wallet-status {
            color: #1BCBFF;
        }
    }
    .divTableCell.pink {
        .activity-icon {
            background: rgba(171, 15, 174, 0.4);
        }
        .wallet-status {
            color: #C605CA;
        }
    }
    .divTableRow .divTableCell:nth-child(1) {
        width: 59px;
    }
    .divTableRow .divTableCell:nth-child(2) {
        width: 146px;
    }
    .divTableRow .divTableCell:nth-child(3) {
        width: 127px;
    }
    .divTableRow .divTableCell:nth-child(4) {
        width: 96px;
    }
    .divTableRow .divTableCell:nth-child(5) {
        width: 62px;
    }
    .divTableRow .divTableCell:nth-child(6) {
        width: 167px;
    }
    .divTableRow .divTableCell:nth-child(7) {
        white-space: nowrap;
        margin-left: auto;
    }
    .btn {
        margin-left: 26px;
        margin-right: 26px;
        justify-content: center;
        display: flex;
        margin-bottom: 23px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.wallet-block-wrapper {
    display: flex;
    .copy {
        margin-right: 16px;
    }
    .wallet-link {
        margin-left: auto;
    }
}

@media screen and (max-width: 575px) {
    .stats-content {
        .input-field-group:first-child {
            flex-direction: column;
            label {
                margin-bottom: 17px;
            }
        }
        .input-field-group:last-child {
            label:first-child {
                margin-right: 10px;
            }
        }
        .input-field-group label + label {
            margin-left: 0;
        }
    }

}