.telegramm-block {
    margin-bottom: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .subtitle {
        margin-bottom: 37px;
    }
}

@media screen and (max-width: 767px) {
    .telegramm-block {
        margin-bottom: 57px;
        align-items: flex-start;
        .subtitle {
            margin-bottom: 24px;
        }
        .btn {
            width: 100%;
        }
    }
}