* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height:100vh;
  -webkit-font-smoothing: antialiased;

  font-size: 16px;
  font-family: 'Inter', sans-serif;
  background-color: #081E5A;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.account-wrapper {
  min-height: 100%;
}

.account-content {
  min-height: calc(100vh - 99px);
}

.tab-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tab-content>.tab-pane {
  height: 100%;
}

html {
  position: relative;
}

.noscroll {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
  height: 100vh;
}


a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input,
button,
button:focus,
input:focus {
  outline: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

input[type="submit"] {
  padding: 0;
  cursor: pointer;
}
.container {
  z-index: 5;
  position: relative;
  max-width: 1164px;
  width: 100vw;
  height: 97%;
}
.textblock {
  margin-bottom: 80px; 
  p {
    margin-bottom: 13px;
    color: rgba(255, 255, 255, 0.6);
  }
  h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 14px;
  }
  h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 13px;
    margin-top: 36px;
  }
}
.icon-blue {
  background-color: #0096EA;
  transition: .2s ease-in;
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #0784DE;    
  }
}
.icon-blue + .icon-blue {
  margin-left: 9px;
}
.decor {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: -17px;
    left: 195px;
    bottom: -17px;
    width: 1px;
    background: rgba(255, 255, 255, 0.15);
    z-index: 0;
    pointer-events: none;
  }
}

.decor-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
}

.decor-1 {
  position: absolute;
  content: url('../img/icons/decor1.svg');
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}
.decor-2 {
  position: absolute;
  content: url('../img/icons/decor2.svg');
  top: 50%;
  right: 12%;
  pointer-events: none;
}
.decor-3 {
  position: absolute;
  content: url('../img/icons/decor3.svg');
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.sidebar {
  a {
    color: rgba(255, 255, 255, 0.6);
    font-style: 14px;
    font-weight: 600;
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
  .active {
    a {
      color: rgba(255, 255, 255, 1);
    }
  }
  li + li {
    margin-top: 12px;
  }
}

.sidebar-mobile {
  display: none;
}

.sidebar-right {
  .dropdownBlock {
    max-height: unset;
    opacity: 1;
  }
  
}

// .dropdownBlock {
//   max-height: initial;
//   opacity: 1;
// }

.title-block {
  margin-bottom: 33px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 39px;
  .activity-id {
    margin-left: 17px;
    margin-bottom: 0;
  }
}

.title-block-row {
  display: flex;
  align-items: center;

  .title-2 {
    margin-right: 10px;
  }
}

.title-1 {
  font-size: 38px;
  font-weight: 700;
}

.title-2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}

.subtitle {
  color: rgba($color: #fff, $alpha: .6);
}

.arrow-down {
  cursor: pointer;
}

.btn {
  color: #fff;
  min-width: 109px;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 25px;
  height: 50px;
  line-height: initial;
  background: #0CA7FF;
  font-weight: 700;
  border-radius: 10px;
  transition: .2s ease-in;
  &:hover {
    background: #0784DE;
    color: #fff;
  }

  &:active {
    background: #0784DE;
    color: #fff;
  }
}

.btn-check:focus + .btn, .btn:focus {
  box-shadow: none;
}

.btn-bright {
  border: 2px solid #01AAF5;
  box-shadow: 0px 0px 10px #01D0FF;
  border-radius: 10px;
  background-color: rgba($color: #081E5A, $alpha: .8);
  height: 40px;
  padding-top: 10px;
  padding-bottom: 11px;
  transition: .2s ease-in;
  color: #C7EEFD;

  &:hover {
    color: #01AAF5;
    background-color: rgba($color: #081E5A, $alpha: 0);
  }

  &:active {
    color: #01AAF5;
  }
}
.btn-purple {
  background: linear-gradient(320.27deg, #0E3597 -0.87%, #AB0FAE 83.01%);
  padding-left: 28px;
  padding-right: 26px;
  border-radius: 10px;
  transition: .2s ease-in;
  color: #fff;
  border: none;
  display: inline-flex;
  align-items: center;
  &:hover {
    background: linear-gradient(140.27deg, #0E3597 -0.87%, #AB0FAE 83.01%);
    color: #fff;
  }

  &:active {
    background: linear-gradient(140.27deg, #0E3597 -0.87%, #AB0FAE 83.01%);
    color: #fff;
  }
}

.btn-dark-pink {
  background: #D7488B;
  &:hover {
    background: #C605CA;
  }
}

.btn-square {
  background: rgba(0, 150, 234, 0.25);
  border-radius: 5px;
  transition: .2s ease-in;
  &:hover {
    background: rgba(0, 150, 234, 0.5);
  }
  &:active {
    background: rgba(0, 150, 234, 0.5);
  }
}

.banner-btn-block {
  a+a {
    margin-left: 20px;
  }
}

.btn-pink {
  height: 40px;
  background: #C605CA;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: .2s ease-in;
  min-width: unset;
  &:hover {
    background: #97009A;
  }
  &:active {
    background: #97009A;
  }
}

.btn-gray {
  background: #25285E;
  &:hover {
    background: #40426C;
  }
}

.btn-pink-submit[type=submit] {
  height: 40px;
  min-width: 55px;
  background: rgba(255, 255, 255, 0.1);
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  &:active {
    background: rgba(255, 255, 255, 0.2);
  }
}

.btn-small {
  height: 30px;
  padding: 6px 10px;
  min-width: unset;
  font-size: 14px;
  line-height: 1;
}

.btn-icons-right {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  img {
    margin-left: 20px;
  }
}
.btn.btn-icons-left {
  display: inline-flex;
  align-items: center;
  img {
    margin-right: 9px;
  }
  span {
    padding-left: 0;
    padding-right: 15px;
  }
}

.btn-border-green {
  background: none;
  border: 2px solid #2FC0AA;
  border-radius: 50px;
  transition: .2s ease-in;
  &:hover {
    background: #2FC0AA;
  }
}

.btn-border-red {
  background: none;
  border: 2px solid #C32772;
  border-radius: 50px;
  transition: .2s ease-in;
  &:hover {
    background: #C32772;
  }
}

.btn.lock {
  background: #97009A;
  pointer-events: none;
}

.modalPresentations {
  .btn {
    width: 100%;
  }
  .modal-body {
    margin-bottom: 38px;
  }
  .about-block-presentation-title {
    font-size: 16px;
    font-weight: 700;
  }
}

.close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close-pink { 
  background: rgba(255, 255, 255, 0.1);
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  &:active {
    background: rgba(255, 255, 255, 0.2);
  }
}
.date {
  white-space: nowrap;
}
.copy {
  transition: .2s ease-in;

  &:hover {
    svg path {
      fill: #0096EA;
    }
  }
}

.link {
  transition: .2s ease-in;

  &:hover {
    svg path {
      fill: #0096EA;
    }
  }
}
.link-white {
  color: rgba($color: #fff, $alpha: .5);
}
.link-window {
  position: relative;
  &::before {
    position: absolute;
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.75 11.6878H2.25C1.86042 11.6878 1.54167 11.3691 1.54167 10.9795V2.47949C1.54167 2.08991 1.86042 1.77116 2.25 1.77116H5.79167C6.18125 1.77116 6.5 1.45241 6.5 1.06283C6.5 0.673242 6.18125 0.354492 5.79167 0.354492H1.54167C0.755417 0.354492 0.125 0.991992 0.125 1.77116V11.6878C0.125 12.467 0.7625 13.1045 1.54167 13.1045H11.4583C12.2375 13.1045 12.875 12.467 12.875 11.6878V7.43783C12.875 7.04824 12.5562 6.72949 12.1667 6.72949C11.7771 6.72949 11.4583 7.04824 11.4583 7.43783V10.9795C11.4583 11.3691 11.1396 11.6878 10.75 11.6878ZM7.91667 1.06283C7.91667 1.45241 8.23542 1.77116 8.625 1.77116H10.4596L3.9925 8.23824C3.71625 8.51449 3.71625 8.96074 3.9925 9.23699C4.26875 9.51324 4.715 9.51324 4.99125 9.23699L11.4583 2.76991V4.60449C11.4583 4.99408 11.7771 5.31283 12.1667 5.31283C12.5562 5.31283 12.875 4.99408 12.875 4.60449V1.06283C12.875 0.673242 12.5562 0.354492 12.1667 0.354492H8.625C8.23542 0.354492 7.91667 0.673242 7.91667 1.06283Z' fill='white'/%3e%3c/svg%3e");
    right: -22px;
    top: 1px;
  }
  
}

.link-more {
  color: rgba($color: #fff, $alpha: .5);
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  transition: .2s ease-in;
  &:hover {
    color: rgba($color: #fff, $alpha: 1);
  }
}

.btn-group-col {
  display: flex;
  flex-direction: column;
}

.divTable {
  width: 100%;
  background: #02053F;
  border-radius: 10px;
  // overflow: auto;
  // -ms-overflow-style: none;
  // scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.divTableCell {
  font-size: 14px;
}

.divTableWrapper {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.divTableRow {
  display: flex;
  position: relative;
  padding-top: 16px;
  padding-bottom: 19px;
  padding-left: 37px;
  padding-right: 37px;

  &:hover {
    background-color: rgba($color: #fff, $alpha: .1);
  }

  &::before {
    position: absolute;
    content: '';
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    bottom: -1px;
    left: 37px;
    right: 37px;
  }
}

.divTableRow:last-child {
  &::before {
    opacity: 0;
  }
}

.divTableHeader {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  &:hover {
    background-color: rgba($color: #02053F, $alpha: .5);
  }
}

/* хром, сафари */
.custom-scroll::-webkit-scrollbar {
  width: 0;
}

/* ie 10+ */
.custom-scroll {
  -ms-overflow-style: none;
}

.custom-scroll {
  position: relative;
  height: 810px;
  overflow: auto;
  touch-action: none;
}

.custom-scroll-width {
  position: relative;
  height: 623px;
  overflow: auto;
  touch-action: none;
}

.custom-scroll-select {
  position: relative;
  height: 15rem;
  .ps__thumb-y {
    background: rgba(255, 255, 255, 0.2);
  }
  .ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y {
    background: transparent;
  }
}

.ps__rail-y {
  width: 6px;
  margin-right: 8px;
  margin-left: 8px;
}

.ps__rail-x {
  height: 6px;
}

.ps__thumb-y {
  background-color: #0348A1;
  width: 6px;
  right: 0;
}

.ps__thumb-x {
  background-color: #0348A1;
}

.ps--active-y>.ps__rail-y {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y {
  width: 6px;
}
.ps__rail-x:hover > .ps__thumb-x, .ps__rail-x:focus > .ps__thumb-x, .ps__rail-x.ps--clicking .ps__thumb-x {
  height: 6px;
}

.account-content {
  display: flex;
  .tab-content {
    width: calc(100% - 220px);
    margin-left: 63px;
  }
}

.tooltip-box {
  position: relative;
  cursor: pointer;
  &:hover {
    .tooltip {
      opacity: 1;
      transform: translate(-50%, 100%) scale(1);
    }
    .tooltip-left {
      transform: translate(-8%, 100%) scale(1);
    }
  }
}
.tooltip {
  opacity: 0;
  background: #FFFFFF;
  border-radius: 10px;
  color: #02053F;
  font-size: 12px;
  width: 175px;
  padding: 10px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%, 100%) scale(0);
  transition: .2s ease-in;
  &::before {
    position: absolute;
    content: '';
    width: 0;
    top: 0;
    left: 50%;
    border: 15px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right: 0px;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}
.tooltip-left {
  left: 10px;
  &::before {
    left: 10%;
  }
}

/* input style filter */
.input-field-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  &+.input-field-group {
    margin-top: 20px;
  }
  label {
    display: flex;
    flex-direction: column;
    width: 100%;
    &+label {
      margin-left: 15px;
    }
    &>span {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 14px;
      display: block;
    }
  }
  input {
    background: #25285E;
    border-radius: 15px;
    border: 1px solid transparent;
    color: #fff;
    font-size: 14px;
    padding: 15px 20px 18px 20px;
    transition: .2s ease-in;
    &:focus {
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
  .btn-blue {
    background: #0096EA;
  }
}

@media screen and (max-width: 1399px) {
  .decor::before {
    left: 195px;
  }
}

@media screen and (max-width: 991px) {
  .container::before {
    display: none;
  }
  .account-content {
    flex-direction: column;
    .tab-content {
      margin-left: 0;
      width: 100%;
    }
  }
  .btn-pink-submit[type=submit] {
    min-width: 40px;
  }
}

@media screen and (max-width: 767px) {
  .sidebar {
    margin-bottom: 20px;
    position: relative;
  }
  .sidebar-mobile {
    display: flex;
    justify-content: space-between;
    background-color: #02053F;
    padding: 14px 17px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    &+ul {
      position: absolute;
      left: 0;
      right: 0;
      top: 41px;
      background-color: #02053F;
      border-radius: 0 0 10px 10px;
      max-height: 1px;
      overflow: hidden;
      padding-left: 17px;
      padding-right: 17px;
      transition: .2s ease-in;
      li:first-child {
        padding-top: 10px;
      }
      li:last-child {
        padding-bottom: 20px;
      }
      a {
        font-size: 14px;
      }
    }
  }
  .sidebar-mobile.active {
    border-radius: 10px 10px 0 0;
    ul {
      padding: 17px 17px 21px 17px;
      height: auto;
    }
  }
  .decor-3 {
    content: url('../img/icons/decor3-mobile.svg');
  }
}

@media screen and (max-width: 575px) {
  .title-1 {
    font-size: 28px;
  }

  .textblock {
    margin-bottom: 40px; 
  }

  .divTableHeader {
    font-size: 10px;
  }

  .divTableRow {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .divTableRow::before {
    left: 0;
    right: 0;
  }

  .btn-purple {
    padding-left: 15px;
    padding-right: 15px;
  }

  .btn[type=submit] {
    padding: 12px;
    height: 40px;
    min-width: auto;
  }
  .btn {
    padding: 12px;
    height: 40px;
    min-width: auto;
  }

  .btn-small {
    padding: 6px 10px;
    height: auto;
  }
  .banner-btn-block a+a {
    margin-left: 13px;
  }

  .title-block {
    margin-bottom: 24px;
  }
}